*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    padding: 1.2rem;
    color:rgb(255, 255, 255);
    background-color: #000000;
}
nav>h1{
    text-align: center;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.container{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;    padding: 2rem;
    gap:1rem;
    margin-top: 3rem;
}
#workToDo{
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    align-items: stretch;
}
#work{
    flex-grow: 1;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    border: 2px solid gray;
}
#work:focus-visible{
    outline-color: dodgerblue;
}
#add{
    padding-inline: 1rem;
    background-color: dodgerblue;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    text-wrap: nowrap;
    cursor: pointer;
}
#add:focus-visible{
    outline-color: dodgerblue;
}
#taskNum{
    color: dodgerblue;
    text-align: center;
    font-size: medium;

}
#list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow-y: auto;
    max-height: 40vh;
}
.aboutTask{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.taskContainer{
    display: flex;
    gap: 1rem;
}
.delete{
   padding: 0.5rem 0.8rem;
   background-color: tomato;
   color: white;
   font-weight: 600;
   border:none;
   outline: none;
   border-radius: 5px;
   cursor: pointer;
}
/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; /* Round the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
    background: #b7b7b7;
}
